<div class="panel-group ">

  <div class="panel panel-default">
    <a class="list-group-item list-group-item-action" style="border: none; padding: 3px" id="list-profile-list" data-toggle="tab"
       href="#list-profile" role="tab" aria-controls="list-profile" aria-selected="false">
    <div class="panel-heading" style="background-color: #ddd">
      <div class="row">
        <div class="col-sm-9">
          {{estateOffer.city}} {{estateOffer.street}} {{estateOffer.property}}/{{estateOffer.apartment}} - {{estateOffer.type}}
        </div>
        <div class="col-md-3" align="right"><span class="badge" align="right">{{estateOffer.price}} zł</span></div>
      </div>
    </div>

    <div class="panel-body">
      {{estateOffer.description}}
    </div>
    </a>
  </div>

</div>

