<div class="panel-group ">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #eee">
      <div class="row">
        <div class="col-sm-9">
          Miasto Ulica nr budynku nr mieszkania typ
        </div>
        <div class="col-sm-3" align="right"><span class="badge" align="right">99999 zł</span></div>
      </div>
    </div>
    <a class="list-group-item list-group-item-action" style="border: none" id="list-profile-list" data-toggle="tab" href="#list-profile" role="tab" aria-controls="list-profile" aria-selected="false">
    <div class="panel-body">
      <p>OPIS</p>
    </div>
    </a>
  </div>
</div>

