<div class="panel-group">
  <div class="panel panel-info">
    <div class="panel-heading in cursor-pointer" data-toggle="collapse" data-target="#detailedEstateOfferBody"
         aria-expanded="true"
         aria-controls="detailedEstateOfferBody">
      <div class="row">
        <div class="col-xs-6"><i class="glyphicon glyphicon-triangle-right"></i>Szczegóły oferty</div>
      </div>
    </div>
    <div class="panel-body collapse in" id="detailedEstateOfferBody">
      <form (ngSubmit)="onSubmit()" #f="ngForm" ngNativeValidate>
        <div class="row">
          <div class="col-xs-12">
            <label>Miasto:</label>
            <input type="text" placeholder="Miasto" value="{{details.estateOffer.city}}"
                   disabled="{{!details.unlocked}}" class="form-control"
                   required ngModel name="city">
            <label>Ulica:</label>
            <input type="text" placeholder="Ulica" value="{{details.estateOffer.street}}"
                   disabled="{{!details.unlocked}}" class="form-control"
                   required ngModel name="street">
          </div>
          <div class="col-sm-6 form-group">
            <label>Numer budynku:</label>
            <input type="text" maxlength="5" placeholder="Nr budynku" [value]="details.estateOffer.property"
                   disabled="{{!details.unlocked}}" step="1"
                   min="1" class="form-control" required ngModel
                   name="property">
            <label>Numer mieszkania:</label>
            <input type="number" placeholder="Nr mieszkania" value="{{details.estateOffer.apartment}}"
                   disabled="{{!details.unlocked}}" step="1"
                   min="1" class="form-control" required ngModel
                   name="apartment">
          </div>
          <div class="col-sm-6 form-group">
            <label>Cena (zł):</label>
            <input type="number" placeholder="Cena" value="{{details.estateOffer.price}}"
                   disabled="{{!details.unlocked}}" step="0.01" min="0"
                   class="form-control" required ngModel
                   name="price">
            <label>Typ:</label>
            <select class="form-control" [ngModel]="details.estateOffer.type" name="type" disabled="{{!details.unlocked}}">
              <option value="1">Dom</option>
              <option value="2">Mieszkanie</option>
              <option value="3">Bióro</option>
              <option value="4">Inne</option>
            </select>
          </div>
          <div class="col-xs-12 form-group">
            <label>Opis:</label>
            <textarea type="text" placeholder="Opis" rows="4" maxlength="255" class="form-control" disabled="{{!details.unlocked}}" required ngModel name="description" [value]="details.estateOffer.description"></textarea>
          </div>
          <ng-template #edit>
            <div class="col-sm-4" *ngIf="details.loaded">
              <button type="button" class="btn btn-primary" (click)="unlockToggle()">Edytuj ofertę</button>
            </div>
          </ng-template>
          <div class="col-sm-4" *ngIf="details.unlocked else edit">
            <button type="button" class="btn btn-warning" (click)="unlockToggle()">Anuluj</button>
          </div>
          <div class="col-sm-4" *ngIf="details.unlocked">
            <button type="submit" class="btn btn-success" [disabled]="!f.dirty || f.invalid">Zapisz zmiany</button>
          </div>
          <div class="col-sm-4" *ngIf="details.unlocked" align="right">
            <button type="button" class="btn btn-danger" (click)="postDelete()">Usuń ofertę</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
