<div class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading in cursor-pointer collapsed" data-toggle="collapse" data-target="#addEstateOfferBody"
         aria-expanded="false"
         aria-controls="addEstateOfferBody">
      <div class="row">
        <div class="col-xs-6"><i class="glyphicon glyphicon-triangle-right"></i>Dodaj nową ofertę</div>
      </div>
    </div>
    <div class="panel-body collapse" id="addEstateOfferBody">

      <form (ngSubmit)="onSubmit()" #f="ngForm" ngNativeValidate>
        <div class="row">
          <div class="col-xs-12">
            <label>Miasto:</label>
            <input type="text" placeholder="Miasto" class="form-control" required ngModel name="city">
            <label>Ulica:</label>
            <input type="text" placeholder="Ulica" class="form-control" required ngModel name="street">
          </div>
          <div class="col-sm-6 form-group">
            <label>Numer budynku:</label>
            <input type="text" maxlength="5" placeholder="Nr budynku" class="form-control" required ngModel
                   name="property">
            <label>Numer mieszkania:</label>
            <input type="number" placeholder="nr mieszkania" step="1" min="1" class="form-control" required ngModel
                   name="apartment">
          </div>
          <div class="col-sm-6 form-group">
            <label>Cena (zł):</label>
            <input type="number" placeholder="Cena" step="0.01" min="0" class="form-control" required ngModel
                   name="price">
            <label>Typ:</label>
            <select class="form-control" [ngModel]="1" name="type">
              <option value="1">Dom</option>
              <option value="2">Mieszkanie</option>
              <option value="3">Biuro</option>
              <option value="4">Inne</option>
            </select>
          </div>
          <div class="col-xs-12 form-group">
            <label>Opis:</label>
            <textarea type="text" placeholder="Opis" rows="4" maxlength="255" class="form-control" required ngModel name="description"></textarea>
          </div>
          <div class="col-sm-4 form-group">
            <button type="submit" class="btn btn-success" [disabled]="f.invalid">Dodaj ofertę</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
