<div class="row">
  <div class="col-md-12">
    <label>Miasto:</label>
    <input type="text" class="form-control" required="true">
    <label>Ulica:</label>
    <input type="text" class="form-control" required="true">
  </div>
  <div class="col-md-6">
    <label>Numer budynku:</label>
    <input type="number" step="1" min="1" class="form-control" required="true">
    <label>Numer mieszkania:</label>
    <input type="number" step="1" min="1" class="form-control" required="true">
  </div>
  <div class="col-md-6">
    <label>Cena:</label>
    <input type="number" step="10000" min="0" class="form-control" required="true">
    <label>Typ:</label>
    <input type="number" step="1" min="1" class="form-control" required="true">
  </div>
  <div class="col-md-12">
    <label>Opis:</label>
    <input type="text" class="form-control" required="true">
  </div>
  <div class="col-md-3">
    <button type="submit" class="btn btn-primary">Dodaj</button>
  </div>
</div>

