<app-header></app-header>
<div class="container" style="min-height: 900px;">
  <div class="row">
    <div class="col-xs-6">
      <app-my-estate-offers-list (itemClick)="showDetails($event)"></app-my-estate-offers-list>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <app-estate-offer-details [details]="offerToShow"></app-estate-offer-details>
        </div>
        <div class="col-xs-12">
          <app-new-estate-offer></app-new-estate-offer>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12" align="center">
          Autor: <a href="https://github.com/Cutter72" target="_blank">Paweł Drelich</a>
      </div>
    </div>
  </div>
</footer>
