<div class="panel-group" >
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12"><span><i class="glyphicon glyphicon-triangle-right"></i><b>Lista moich ofert</b></span></div>
      </div>
      <div class="row">
        <div class="col-md-9">Sortuj wg:
          <button type="button" class="btn btn-sm btn-primary" style="background-color: #3687c7" (click)="sortByCity()">Miast</button>
          <button type="button" class="btn btn-sm btn-primary" style="background-color: #3687c7" (click)="sortByStreet()">Ulicy</button>
          <button type="button" class="btn btn-sm btn-primary" style="background-color: #3687c7" (click)="sortByType()">Typu</button>
          <button type="button" class="btn btn-sm btn-primary" style="background-color: #3687c7" (click)="sortByPrice()">Ceny</button> ||
          <button type="button" class="btn btn-sm btn-primary" style="background-color: #3687c7" (click)="getAllEstateOffers()">Odśwież</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-sm btn-danger" (click)="deleteAllOffers()">Usuń wszystkie</button>
        </div>
      </div>
    </div>
    <div class="panel-body" style="max-height: 872px; overflow: auto">
      <app-my-estate-offer-list-item *ngFor="let offer of estateOffers" [estateOffer]="offer" (click)="passOfferId(offer.id)"></app-my-estate-offer-list-item>
    </div>
  </div>
</div>
