<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading in cursor-pointer" data-toggle="collapse" data-target="#estateOfferList"
         aria-expanded="true"
         aria-controls="estateOfferList">
      <div class="row">
        <div class="col-xs-6"><i class="glyphicon glyphicon-triangle-right"></i>Lista moich ofert</div>
      </div>
    </div>
    <div class="panel-body collapse in" id="estateOfferList">
      <app-my-estate-offer-list-item></app-my-estate-offer-list-item>
      <app-my-estate-offer-list-item></app-my-estate-offer-list-item>
      <app-my-estate-offer-list-item></app-my-estate-offer-list-item>
    </div>
  </div>
</div>
